@import 'src/main/webapp/app/@fuse/scss/fuse';

/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}

#profile {
  .header {
    height: 320px;
    min-height: 320px;
    max-height: 320px;
    background: url('../../content/images/backgrounds/match-home.jpg') no-repeat 0 45%;
    background-size: cover;

    .profile-image {
      margin-right: 24px;

      @include media-breakpoint('sm') {
        margin: 0 0 16px 0;
      }
    }

    .name {
      font-size: 34px;
      color: #ffffff;

      @include media-breakpoint('sm') {
        margin-bottom: 32px;
      }
    }

    .actions {
      button {
        text-transform: none;
        padding: 0 16px;
        margin: 0 0 0 8px;
      }
    }
  }

  .content {
    flex: 1;

    mat-tab-group {
      height: 100%;

      .mat-tab-body-wrapper {
        flex-grow: 1;
      }
    }
  }
}
